<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="..\assets\css\hero.css">
    <title>GameHub</title>
</head>

<body>
    <main>
        <main>
            <a href="{{ path('verification') }}">
            <div class="logo">
                <span>Game</span>
                <span>Hub</span>
                <span>Click The Logo</span>
            </div>
            </a>
        </main>
    </main>
</body>
</html>