html {
    background-color: #000;
    height: 100%;
}

form {
   height: auto;
   margin-top: 25px;
}

body {
  margin: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("img/login.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(8px);
    -webkit-filter: blur(8px);
    height: 100%;
    width: 100%;
}
.form__content {
   display: block;
   position: absolute;
   padding: 20px;
   width: 80%;
   text-align: center;
   border-radius: 15px;
   background: rgba(0, 0, 0, .9);
   border: 1px solid #333;
   height: max-content;
   transition: ease-in 0.5s;
   box-sizing: unset;
}
label {
    color: #fff;
}

h1 {
    color: #fff;
    font-size: 34px;
    font-weight: 700;
    margin: 10px 0 5px 0;
    text-align: center;
}
.login_button {
    margin: 7px auto;
    border: 1px solid #f90;
    box-sizing: border-box;
    outline: none;
    background-color: #f90;
    width: 110px;
    height: 40px;
    padding: 0 5px 0 5px;
    border-radius: 5px;
    color: #000;
    cursor: pointer;
    font-weight: 700;
    text-align: center;
}
.login_button:hover {
    background: #ffa31a;
}

span {
    color: #fff;
}
.note {
    margin-bottom: 10px;
}

#desc {
   width: 70%;
   margin-bottom: 10px;
   height: 70%;
}
#desc:focus{
    outline: 2px solid #f90;
}
#desc:hover{
    outline: 2px solid #f90;
}